<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>AdaptLab</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="adaptlab">AdaptLab</h1>
<p><em>Ahmet Güngör</em><br>
<em>Aziz Furkan Dağlı</em></p>
<p>This project is designed to guide newcomers who has just joined to an organization.</p>
<p>There will be pre-assigned tasks to newcomers.
After newcomers  completes their &quot;newcomer tasks&quot;, they will be ready to get real tasks.</p>
<p><strong>AdaptLab provides 4 types of user.</strong></p>
<ul>
<li>Superuser</li>
<li>Owner</li>
<li>Tutor</li>
<li>User</li>
</ul>
<br>
<p><strong>Superuser</strong>:</p>
<pre><code>The most powerful user. Has all  of permissions and has no restriction on AdaptLab.
</code></pre>
<br>
<p><strong>Owner</strong>:</p>
<pre><code>User of a department or sub-organization.

	Has permission to;
	- Create teams
	- Create projects
	- Create tasks
	- Create &quot;ready set&quot;s
	- Add Tutor (Owner is able to restrict tutor rights)
	- Add Newcomer
	- Assign newcomer to tutors
	- Check newcomer process
</code></pre>
<br>
<p><strong>Tutor</strong>:</p>
<pre><code>Tutor of newcomer.

	Has permission to;
	   - Create tasks
	   - Create &quot;ready set&quot;s
	   - Assign newcomer to projects and teams
	   - Check newcomer process
</code></pre>
<br>
<p><strong>User</strong>:</p>
<pre><code>User is newcomer.

	Has permission to;
	- Handle newcomer tasks
	- Upload document.
	- Check newcomer process
</code></pre>
<p>AdaptLab provides assigning a newcomer to multiple projects and multiple teams.</p>
<p>AdaptLab contains 3 task types;</p>
<ul>
<li><strong>Post</strong></li>
<li><strong>Quiz</strong></li>
<li><strong>Task</strong></li>
</ul>
<br>
<p><strong>Post</strong>:</p>
<pre><code>Guides you how to do some job. Posts supports to have attached files on it.

For example;
    - Guides you for how to get free day on system.
    - Guides you for how to fix your proxy issues.
</code></pre>
<p><strong>Quiz</strong>:</p>
<pre><code>Some Posts will guide you to perfornm some process. After completing Posts, it can be a Quiz about this related Post.

For example;
	- A Post explains you about a module of a product. A Quiz can be created about this Post.
	- Quiz does not have to be related with a Post. It can be a random topic which can be created by tutors to check whether newcomer has a knowledge about a spesific topic.
</code></pre>
<p><strong>Task</strong>:</p>
<pre><code>Tutor is able to create Tasks for newcomer. Newcomer needs to complete these Tasks and needs to inform his progress to tutor on AdaptLab System.
</code></pre>
<br>
<br>
<p>AdaptLab has &quot;ready set&quot; feature. Whenever a newcomer joins in a new organization, it supports pre-prepared templates to use for spesific users.</p>
<pre><code>For example; 
	in A department, there are x, y, z teams and these teams works on K, L, M projects.
	AdaptLab admin of A department can prepare for &quot;x team and K project&quot; spesific &quot;ready set&quot; and all of newcomers who will be in x team and K project can be use this system.
</code></pre>
<br>
<br>
<p>AdaptLab supports combine &quot;ready set&quot; templates. You can simply create small &quot;ready set&quot;s and you can combine with each other.</p>
<pre><code>For example if you have some common tasks, you can seperate those common tasks in a seperated &quot;ready set&quot; and you can include to your own spesific &quot;ready set&quot;.</code></pre>

    </body>
    </html>