<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Experience Sharing Use Case</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="experience-sharing-use-case">Experience Sharing Use Case</h1>
<p>A newcomer wants to share some experiences with his/her new colleagues. We will provide an interface to write document and send document to his/her new colleagues via e-mail.
The system will <strong>both</strong> store documents in the database <strong>and</strong> send e-mail. So, newcomer who will join the organization in the future can see these documents.</p>

    </body>
    </html>